*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    height: 600px;
    width: 1320px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url("../images/Banner\ Image.png");
    
}
.heading-info{
    width: 632px;
    height: 246px;
    color: white;
    position: center;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    padding-top: 200px;
    padding-left: 300px;
    
}
.heading-info h3{
    font-size: 32px;
}
.heading-info p{
    font-size: 72px;
}